<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs demo</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div class="bg-zinc-800 h-screen w-screen p-10">
        <div >
            <nav class="flex gap-5">
                <a class="text-white" href="/">home</a>
                <a class="text-white" href="/read">read</a>
            </nav>
            <h1 class="text-white font-medium text-3xl mb-3">create a user</h1>
            <hr class="pb-3">
            <form action="/create" method="post">
                <input class="outline-none py-2 px-5 bg-transparent rounded-lg border text-white border-white" type="text" name="name" placeholder="name">
                <input class="outline-none py-2 px-5 bg-transparent rounded-lg border text-white border-white" type="text" name="email" placeholder="email">
                <input class="outline-none py-2 px-5 bg-transparent rounded-lg border text-white border-white" type="text" name="image" placeholder="image">
                <input class="px-5 py-2 bg-yellow-600 rounded-xl hover:bg-red-700 transition-all duration-300 text-white" type="submit" value="create a user">
            </form>
        </div>
    </div>
</body>
</html>